USE [master]
GO
/****** Object:  Database [POS_Systems]    Script Date: 27/12/2025 18:44:37 ******/
CREATE DATABASE [POS_Systems]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POS_Systems', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\POS_Systems.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POS_Systems_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\POS_Systems_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POS_Systems].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POS_Systems]
GO
/****** Object:  Schema [Customer]    Script Date: 27/12/2025 18:44:38 ******/
CREATE SCHEMA [Customer]
GO
/****** Object:  Schema [Invoice]    Script Date: 27/12/2025 18:44:38 ******/
CREATE SCHEMA [Invoice]
GO
/****** Object:  Schema [People]    Script Date: 27/12/2025 18:44:38 ******/
CREATE SCHEMA [People]
GO
/****** Object:  Schema [Products]    Script Date: 27/12/2025 18:44:38 ******/
CREATE SCHEMA [Products]
GO
/****** Object:  Schema [Users]    Script Date: 27/12/2025 18:44:38 ******/
CREATE SCHEMA [Users]
GO
/****** Object:  UserDefinedTableType [dbo].[InvoiceItemType]    Script Date: 27/12/2025 18:44:38 ******/
CREATE TYPE [dbo].[InvoiceItemType] AS TABLE(
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[DiscountPercent] [decimal](10, 2) NULL,
	[DiscountAmount] [decimal](10, 2) NULL,
	[LineTotal] [decimal](10, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [Invoice].[InvoiceItemType]    Script Date: 27/12/2025 18:44:38 ******/
CREATE TYPE [Invoice].[InvoiceItemType] AS TABLE(
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[DiscountPercent] [decimal](10, 2) NULL,
	[DiscountAmount] [decimal](10, 2) NULL,
	[LineTotal] [decimal](10, 2) NULL
)
GO
/****** Object:  Table [dbo].[People]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[NationalNo] [nchar](12) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[Address] [nchar](80) NOT NULL,
	[DateOfBirth] [smalldatetime] NOT NULL,
	[ImagePerson] [nvarchar](250) NULL,
 CONSTRAINT [PK__People__AA2FFB85F1859AE2] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [NationaNo_People] UNIQUE NONCLUSTERED 
(
	[NationalNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[People_View]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[People_View]
AS
SELECT PersonID, FirstName + ' ' + LastName AS Full_Name, NationalNo, Gender, CASE WHEN Gender = 0 THEN 'Male' ELSE 'Female' END AS Gender_Caption, Address, DateOfBirth, Phone, ISNULL(Email, '') AS Email
FROM   dbo.People
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[RegisterDate] [smalldatetime] NOT NULL,
	[LoyaltyPoints] [int] NOT NULL,
	[TaxNumber] [nvarchar](50) NOT NULL,
	[PersonID] [int] NOT NULL,
	[CreatedByUserID] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Customer__A4AE64B877DAB2B2] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[TotalTax] [decimal](18, 2) NOT NULL,
	[TotalDiscount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[TotalAmount] [smallmoney] NOT NULL,
	[CreateByUserID] [int] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK__Invoices__D796AAD5497DDE8C] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Invoices_View]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Invoices_View]
AS
SELECT TOP (100) PERCENT i.InvoiceID, c.CustomerName, i.InvoiceDate, i.SubTotal, i.TotalTax, i.TotalDiscount, i.PaymentMethod, i.TotalAmount, i.Status
FROM   dbo.Invoices AS i INNER JOIN
             dbo.Customers AS c ON i.CustomerID = c.CustomerID
ORDER BY i.InvoiceDate DESC, i.InvoiceID
GO
/****** Object:  Table [dbo].[InvoiceItems]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItems](
	[InvoiceItemID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [smallmoney] NOT NULL,
	[LineTotal] [smallmoney] NOT NULL,
	[ProductID] [int] NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[DiscountPercent] [float] NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[CreatedByUserID] [int] NULL,
 CONSTRAINT [PK__InvoiceI__478FE0FC37A70D28] PRIMARY KEY CLUSTERED 
(
	[InvoiceItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](60) NOT NULL,
	[Descriptions] [text] NULL,
	[Price] [smallmoney] NOT NULL,
	[QuantityInStock] [int] NOT NULL,
	[TaxPercent] [decimal](18, 2) NOT NULL,
	[ImageProduct] [nvarchar](200) NOT NULL,
	[CreatedByUserID] [int] NULL,
 CONSTRAINT [PK__Products__B40CC6ED5E1D16E6] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](128) NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[PersonID] [int] NOT NULL,
	[CreatedAt] [datetime2](2) NOT NULL,
	[UpdateAt] [datetime2](2) NULL,
 CONSTRAINT [PK__Users__1788CCAC46A8FDCC] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Users__C9F28456AE45E04D] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceItems] ADD  CONSTRAINT [DF__InvoiceIt__Disco__634EBE90]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF__Invoices__SubTot__607251E5]  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF__Invoices__TotalT__6166761E]  DEFAULT ((0)) FOR [TotalTax]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF__Invoices__TotalD__625A9A57]  DEFAULT ((0)) FOR [TotalDiscount]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_Status]  DEFAULT (N'Issued') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsActive__68D28DBC]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreatedAt__69C6B1F5]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UpdateAt]  DEFAULT (NULL) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_People]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Users] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Users]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK__Invoices__Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK__Invoices__Customer]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Users] FOREIGN KEY([CreateByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Person]
GO
/****** Object:  StoredProcedure [Customer].[SP_AddNewCustomer_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Customer].[SP_AddNewCustomer_POS]
    @CustomerName NVARCHAR(100),
	@RegisterDate DATE,
    @LoyaltyPoints INT,
    @TaxNumber NVARCHAR(50),
    @PersonID INT,
    @CreatedByUserID INT,
    @IsActive bit,
    @NewCustomerID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

	   -- Insert الشخص الجديد
        INSERT INTO Customers
        (
            CustomerName,RegisterDate ,LoyaltyPoints ,TaxNumber ,
            PersonID ,CreatedByUserID ,IsActive
        )
        VALUES
        (
            @CustomerName, @RegisterDate ,@LoyaltyPoints ,@TaxNumber,
	        @PersonID ,@CreatedByUserID ,@IsActive
        );

        -- الحصول على الـ PersonID الجديد
        SET @NewCustomerID =  CAST(SCOPE_IDENTITY() AS INT);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        -- إعادة إرسال الخطأ إلى C#
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [Customer].[SP_DeleteCustomer_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [Customer].[SP_DeleteCustomer_POS]
    @CustomerID INT 
	
AS
BEGIN
    SET NOCOUNT ON;

	Declare @RowsAffected INT = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Delete Person
        Delete From Customers WHERE CustomerID = @CustomerID;
       
	    Set  @RowsAffected = @@RowCount;         

        COMMIT TRANSACTION;
		Return @RowsAffected;
    END TRY
    BEGIN CATCH
	   if @@TRANCOUNT > 0  
          ROLLBACK TRANSACTION;

        -- إعادة إرسال الخطأ إلى C#
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [Customer].[SP_GetAllCustomer_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [Customer].[SP_GetAllCustomer_POS]
     @PageNumber INT ,
     @RowsPerPage INT
As
Begin

      SET NOCOUNT ON;

      Select 
             CustomerID,CustomerName,P.NationalNo,RegisterDate ,LoyaltyPoints ,TaxNumber ,CreatedByUserID ,IsActive,
			 COUNT(*) OVER() AS TotalRows
	  From Customers C INNER JOIN 
	  People P ON P.PersonID = C.PersonID
	  Order By CustomerID

	  OFFSET (@PageNumber - 1) * @RowsPerPage ROWS
      FETCH NEXT @RowsPerPage ROWS ONLY;
End;
GO
/****** Object:  StoredProcedure [Customer].[SP_UpdateCustomer_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Customer].[SP_UpdateCustomer_POS]
    @CustomerID INT,
	@CustomerName NVARCHAR(100),
	@RegisterDate DATE,
    @LoyaltyPoints INT,
    @TaxNumber NVARCHAR(50),
    @PersonID INT,
    @CreatedByUserID INT,
    @IsActive bit

AS
BEGIN
    SET NOCOUNT ON;

	Declare @RowsAffected INT = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- التحقق من الرقم الوطني قبل الإضافة
        IF Not EXISTS(SELECT 1 FROM People WHERE PersonID = @PersonID)
           THROW 50080, 'Customer is not exists.', 1;-- رسالة مخصصة مع THROW
        

        -- Update Person 
        UPDATE Customers
              SET CustomerName = @CustomerName,
                  RegisterDate = @RegisterDate,
                  LoyaltyPoints = @LoyaltyPoints,
                  TaxNumber = @TaxNumber,
                  PersonID = @PersonID,
                  CreatedByUserID = @CreatedByUserID,
                  IsActive = @IsActive
              WHERE CustomerID = @CustomerID;
       Set  @RowsAffected = @@RowCount;         

        COMMIT TRANSACTION;
		Return @RowsAffected;
    END TRY
    BEGIN CATCH
	   if @@TRANCOUNT > 0  
          ROLLBACK TRANSACTION;

        -- إعادة إرسال الخطأ إلى C#
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [Invoice].[Sp_AddNewInvoice_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Invoice].[Sp_AddNewInvoice_POS]
(
    -- Invoice Header
    @InvoiceDate DATETIME,
    @CustomerID INT,
    @PaymentMethod NVARCHAR(50),
    @CreatedByUserID INT,
	@Status NVARCHAR(50),

    -- Calculated Totals
    @SubTotal DECIMAL(10,2),
    @TotalTax DECIMAL(10,2),
    @TotalDiscount DECIMAL(10,2),
    @TotalAmount DECIMAL(10,2),

    -- Invoice Items
    @Items Invoice.InvoiceItemType READONLY,
	@NewInvoiceID INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        -- 1️⃣ Insert Invoice
        INSERT INTO Invoices
        (
            InvoiceDate,
            CustomerID,
            SubTotal,
            TotalTax,
            TotalDiscount,
            TotalAmount,
            PaymentMethod,
            CreateByUserID,
			Status
        )
        VALUES
        (
            @InvoiceDate,
            @CustomerID,
            @SubTotal,
            @TotalTax,
            @TotalDiscount,
            @TotalAmount,
            @PaymentMethod,
            @CreatedByUserID,
			@Status
        );

        Set @NewInvoiceID = SCOPE_IDENTITY();

        -- 2️⃣ Insert Invoice Items (Multiple Rows)
        INSERT INTO InvoiceItems
        (
            InvoiceID,
            ProductID,
            Quantity,
            UnitPrice,
            DiscountPercent,
            DiscountAmount,
            LineTotal,
            CreatedByUserID
        )
        SELECT
            @NewInvoiceID,
            ProductID,
            Quantity,
            UnitPrice,
            (DiscountPercent/100) AS DiscountPercent,
            DiscountAmount,
            LineTotal,
            @CreatedByUserID
        FROM @Items;

		UPDATE P
               SET P.QuantityInStock = P.QuantityInStock - I.Quantity
               FROM Products P
               JOIN @Items I ON P.ProductID = I.ProductID;

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [Invoice].[Sp_CanceledInvoice_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Invoice].[Sp_CanceledInvoice_POS]
    @InvoiceID INT,
	@IsCanceled bit OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	Set @IsCanceled = 0;
    BEGIN TRY
        BEGIN TRAN;

        -- ✔ Cancel only if Active
        IF EXISTS (
            SELECT 1
            FROM Invoices
            WHERE InvoiceID = @InvoiceID
              AND Status = 'Issued'
        )
        BEGIN
            -- Update status
            UPDATE Invoices
            SET Status = 'Canceled'
            WHERE InvoiceID = @InvoiceID;

            -- Restore stock
            UPDATE P
            SET P.QuantityInStock = P.QuantityInStock + I.Quantity
            FROM Products P
            INNER JOIN InvoiceItems I
                ON P.ProductID = I.ProductID
            WHERE I.InvoiceID = @InvoiceID;
			Set @IsCanceled = 1;
        END

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [Invoice].[Sp_DeleteInvoice_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Invoice].[Sp_DeleteInvoice_POS]
    @InvoiceID INT,
	@ISDelete BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	SET @ISDelete = 0;
    BEGIN TRY
        BEGIN TRAN;

        -- ✔ Delete only if Active
        IF EXISTS (
            SELECT 1
            FROM Invoices
            WHERE InvoiceID = @InvoiceID
              AND (Status = 'Issued' OR Status = 'Canceled')
        )
        BEGIN
            UPDATE Invoices
            SET Status = 'Deleted'
            WHERE InvoiceID = @InvoiceID;
			SET @ISDelete = 1 ;
		End
        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
        THROW;
    END CATCH
END;


GO
/****** Object:  StoredProcedure [Invoice].[SP_GetAllInvoice_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [Invoice].[SP_GetAllInvoice_POS] 
    @PageNumber INT,
    @RowsPerPage INT
As
Begin
    SET NOCOUNT ON;

   SELECT *,Count(*) Over() As TotalRows
   FROM Invoices_View 
   ORDER BY InvoiceDate DESC,InvoiceID 

   OFFSET (@PageNumber - 1) * @RowsPerPage ROWS
   FETCH NEXT @RowsPerPage ROWS ONLY;
End;
GO
/****** Object:  StoredProcedure [Invoice].[Sp_UpdateInvoice_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Invoice].[Sp_UpdateInvoice_POS]
(
    @InvoiceID INT,
    @InvoiceDate DATETIME,
    @CustomerID INT,
    @PaymentMethod NVARCHAR(50),
    @SubTotal DECIMAL(10,2),
    @TotalTax DECIMAL(10,2),
    @TotalDiscount DECIMAL(10,2),
    @TotalAmount DECIMAL(10,2),
	@Status NVARCHAR(50),
	@CreatedByUserID INT,
    @Items Invoice.InvoiceItemType READONLY,
	@Success BIT OUTPUT
	
)
AS
BEGIN
    SET NOCOUNT ON;
	
    BEGIN TRY
    BEGIN TRAN;

    -- استرجاع المخزون للعناصر القديمة
    UPDATE P
    SET P.QuantityInStock = P.QuantityInStock + I.Quantity
    FROM Products P
    INNER JOIN InvoiceItems I ON P.ProductID = I.ProductID
    WHERE I.InvoiceID = @InvoiceID;

    -- حذف العناصر القديمة
    DELETE FROM InvoiceItems
    WHERE InvoiceID = @InvoiceID;

    -- إدخال العناصر الجديدة
    INSERT INTO InvoiceItems
    (
        InvoiceID, ProductID, Quantity, UnitPrice, DiscountPercent, DiscountAmount, LineTotal,CreatedByUserID
    )
    SELECT
        @InvoiceID, ProductID, Quantity, UnitPrice, (DiscountPercent / 100) As DiscountPercent, DiscountAmount, LineTotal,@CreatedByUserID
    FROM @Items;

    -- خصم المخزون وفق العناصر الجديدة
    UPDATE P
    SET P.QuantityInStock = P.QuantityInStock - I.Quantity
    FROM Products P
    INNER JOIN @Items I ON P.ProductID = I.ProductID;

    -- تحديث بيانات الفاتورة
    UPDATE Invoices
    SET
        InvoiceDate = @InvoiceDate,
        CustomerID = @CustomerID,
        PaymentMethod = @PaymentMethod,
        SubTotal = @SubTotal,
        TotalTax = @TotalTax,
        TotalDiscount = @TotalDiscount,
        TotalAmount = @TotalAmount,
        Status = @Status,
		CreateByUserID = @CreatedByUserID
    WHERE InvoiceID = @InvoiceID;

	

    COMMIT;
	SET @Success = 1;
  END TRY
  BEGIN CATCH
      IF @@TRANCOUNT > 0
          ROLLBACK ;
	 
	 Set @Success = 0;
      THROW;
  END CATCH
End
GO
/****** Object:  StoredProcedure [People].[SP_AddNewPerson_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [People].[SP_AddNewPerson_POS]
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @NationalNo NVARCHAR(50),
    @Email NVARCHAR(100) = NULL,
    @Phone NVARCHAR(20),
    @Gender TINYINT,
    @Address NVARCHAR(200),
    @DateOfBirth DATE,
    @ImagePerson NVARCHAR(500) = NULL,
    @NewPersonID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

	   -- Insert الشخص الجديد
        INSERT INTO People
        (
            FirstName, LastName, NationalNo, Email,
            Phone, Gender, Address, DateOfBirth, ImagePerson
        )
        VALUES
        (
            @FirstName, @LastName, @NationalNo, @Email,
            @Phone, @Gender, @Address, @DateOfBirth, @ImagePerson
        );

        -- الحصول على الـ PersonID الجديد
        SET @NewPersonID =  CAST(SCOPE_IDENTITY() AS INT);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        -- إعادة إرسال الخطأ إلى C#
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [People].[SP_DeletePerson_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [People].[SP_DeletePerson_POS]
    @PersonID INT 
	
AS
BEGIN
    SET NOCOUNT ON;

	Declare @RowsAffected INT = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Delete Person
        Delete From People WHERE PersonID = @PersonID;
       
	    Set  @RowsAffected = @@RowCount;         

        COMMIT TRANSACTION;
		Return @RowsAffected;
    END TRY
    BEGIN CATCH
	   if @@TRANCOUNT > 0  
          ROLLBACK TRANSACTION;

        -- إعادة إرسال الخطأ إلى C#
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [People].[SP_GetAllPerson_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [People].[SP_GetAllPerson_POS]
     @PageNumber INT ,
     @RowsPerPage INT
As
Begin

      SET NOCOUNT ON;

      Select PersonID,Full_Name,NationalNo, Gender,Gender_Caption,Address, DateOfBirth, Phone,Email, COUNT(*) OVER() AS TotalRows
	  From People_View
	  Order By PersonID

	  OFFSET (@PageNumber - 1) * @RowsPerPage ROWS
      FETCH NEXT @RowsPerPage ROWS ONLY;
End;
GO
/****** Object:  StoredProcedure [People].[SP_UpdatePerson_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [People].[SP_UpdatePerson_POS]
    @PersonID INT ,
	@FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @NationalNo NVARCHAR(50),
    @Email NVARCHAR(100) = NULL,
    @Phone NVARCHAR(20),
    @Gender TINYINT,
    @Address NVARCHAR(200),
    @DateOfBirth DATE,
    @ImagePerson NVARCHAR(500) = NULL

AS
BEGIN
    SET NOCOUNT ON;

	Declare @RowsAffected INT = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- التحقق من الرقم الوطني قبل الإضافة
        IF Not EXISTS(SELECT 1 FROM People WHERE PersonID = @PersonID)
           THROW 50050, 'Person is not exists.', 1;-- رسالة مخصصة مع THROW
        

        -- Insert الشخص الجديد
        UPDATE People
              SET FirstName = @FirstName,
                  LastName = @LastName,
                  NationalNo = @NationalNo,
                  Email = @Email,
                  Phone = @Phone,
                  Gender = @Gender,
                  Address = @Address,
                  DateOfBirth = @DateOfBirth,
                  ImagePerson = @ImagePerson
              WHERE PersonID = @PersonID;
       Set  @RowsAffected = @@RowCount;         

        COMMIT TRANSACTION;
		Return @RowsAffected;
    END TRY
    BEGIN CATCH
	   if @@TRANCOUNT > 0  
          ROLLBACK TRANSACTION;

        -- إعادة إرسال الخطأ إلى C#
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [Products].[Sp_AddNewProduct_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure  [Products].[Sp_AddNewProduct_POS]
   
    @ProductName NVARCHAR(60),
    @Descriptions text,
    @Price Decimal(10,2),
    @QuantityInStock INT,
    @TaxPercent decimal(18, 2),
    @ImageProduct NVARCHAR(200),
    @CreatedByUserID INT,
    @NewProductID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

	   -- Insert الشخص الجديد
        INSERT INTO Products
        (
             ProductName,Descriptions,Price,QuantityInStock,
			 TaxPercent,ImageProduct,CreatedByUserID
        )
        VALUES
        (
            @ProductName,@Descriptions,@Price,@QuantityInStock,
			@TaxPercent,@ImageProduct,@CreatedByUserID
        );

        -- الحصول على الـ PersonID الجديد
        SET @NewProductID =  CAST(SCOPE_IDENTITY() AS INT);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        -- إعادة إرسال الخطأ إلى C#
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [Products].[SP_DeleteProduct_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [Products].[SP_DeleteProduct_POS]
    @ProductID INT 
	
AS
BEGIN
    SET NOCOUNT ON;

	Declare @RowsAffected INT = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Delete Person
        Delete From Products WHERE ProductID = @ProductID;
       
	    Set  @RowsAffected = @@RowCount;         

        COMMIT TRANSACTION;
		Return @RowsAffected;
    END TRY
    BEGIN CATCH
	   if @@TRANCOUNT > 0  
          ROLLBACK TRANSACTION;

        -- إعادة إرسال الخطأ إلى C#
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [Products].[SP_GetAllProduct_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [Products].[SP_GetAllProduct_POS]
     @PageNumber INT ,
     @RowsPerPage INT
As
Begin

      SET NOCOUNT ON;

      SELECT ProductID,ProductName,Descriptions,Price,QuantityInStock,
             CASE 
                  WHEN QuantityInStock = 0 THEN 'Out of Stock'
                  WHEN QuantityInStock <= 10 THEN 'Low Stock'
                  ELSE 'In Stock'
             END AS StockStatus,
             TaxPercent,
             (Price *0.2) as PriceWithTax,Count(*) Over() As TotalRows
      FROM Products 
      ORDER BY ProductName,ProductID

	  OFFSET (@PageNumber - 1) * @RowsPerPage ROWS
      FETCH NEXT @RowsPerPage ROWS ONLY;
End;
GO
/****** Object:  StoredProcedure [Products].[SP_UpdateProduct_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Products].[SP_UpdateProduct_POS]
    
	@ProductID INT,
	@ProductName NVARCHAR(60),
    @Descriptions text,
    @Price Decimal(10,2),
    @QuantityInStock INT,
    @TaxPercent decimal(18, 2),
    @ImageProduct NVARCHAR(200),
    @CreatedByUserID INT
   
AS
BEGIN
    SET NOCOUNT ON;

	Declare @RowsAffected INT = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- التحقق من الرقم الوطني قبل الإضافة
        IF Not EXISTS(SELECT 1 FROM Products WHERE ProductID = @ProductID)
           THROW 50050, 'Product is not exists.', 1;-- رسالة مخصصة مع THROW
        
        -- Update Person 
        UPDATE Products
         SET  ProductName = @ProductName,
	          Descriptions = @Descriptions,
	          Price = @Price,
              QuantityInStock = @QuantityInStock,
	          TaxPercent =  @TaxPercent,
	          ImageProduct = @ImageProduct,
	          CreatedByUserID =  @CreatedByUserID
              WHERE ProductID = @ProductID;
       Set  @RowsAffected = @@RowCount;         

        COMMIT TRANSACTION;
		Return @RowsAffected;
    END TRY
    BEGIN CATCH
	   if @@TRANCOUNT > 0  
          ROLLBACK TRANSACTION;

        -- إعادة إرسال الخطأ إلى C#
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [Users].[SP_AddNewUser_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Users].[SP_AddNewUser_POS]
	 @UserName VARCHAR(50),
	 @PasswordHash VARCHAR(70),
	 @RoleID INT,
	 @IsActive BIT,
	 @PersonID INT,
	 @CreatedAt Datetime2,
	 @UpdateAt Datetime2 = null,
	 @NewUserID INT OUTPUT

AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

	   -- Insert الشخص الجديد
        INSERT INTO Users
        (
            UserName,PasswordHash,RoleID,
			IsActive,PersonID,CreatedAt,UpdateAt
        )
        VALUES
        (
            @UserName,@PasswordHash,@RoleID,
			@IsActive,@PersonID,@CreatedAt,@UpdateAt
        );

        -- الحصول على الـ PersonID الجديد
        SET @NewUserID =  CAST(SCOPE_IDENTITY() AS INT);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        -- إعادة إرسال الخطأ إلى C#
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [Users].[SP_DeleteUser_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [Users].[SP_DeleteUser_POS]
    @UserID INT 
	
AS
BEGIN
    SET NOCOUNT ON;

	Declare @RowsAffected INT = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Delete Person
        Delete From Users WHERE UserID = @UserID;
       
	    Set  @RowsAffected = @@RowCount;         

        COMMIT TRANSACTION;
		Return @RowsAffected;
    END TRY
    BEGIN CATCH
	   if @@TRANCOUNT > 0  
          ROLLBACK TRANSACTION;

        -- إعادة إرسال الخطأ إلى C#
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [Users].[SP_GetAllUser_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [Users].[SP_GetAllUser_POS]
     @PageNumber INT ,
     @RowsPerPage INT
As
Begin

      SET NOCOUNT ON;

      Select  U.UserID,U.UserName,(P.FirstName + ''+ P.LastName) As FullName,U.RoleID,U.IsActive,U.CreatedAt,UpdateAt,COUNT(*) OVER() AS TotalRows
	  From Users U INNER JOIN 
	  People P ON P.PersonID = U.PersonID
	  Order By UserID

	  OFFSET (@PageNumber - 1) * @RowsPerPage ROWS
      FETCH NEXT @RowsPerPage ROWS ONLY;
End;
GO
/****** Object:  StoredProcedure [Users].[SP_UpdateUser_POS]    Script Date: 27/12/2025 18:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Users].[SP_UpdateUser_POS]
     @UserID INT,
	 @UserName VARCHAR(50),
	 @RoleID INT,
	 @IsActive BIT,
	 @UpdateAt Datetime2 = null
AS
BEGIN
    SET NOCOUNT ON;

	Declare @RowsAffected INT = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- التحقق من الرقم الوطني قبل الإضافة
        IF Not EXISTS(SELECT 1 FROM Users WHERE UserID = @UserID)
           THROW 50050, 'User is not exists.', 1;-- رسالة مخصصة مع THROW
        

        -- Update Person 
        UPDATE Users
              SET UserName = @UserName,
				  RoleID = @RoleID,
				  IsActive = @IsActive,
				  UpdateAt = @UpdateAt
              WHERE UserID = @UserID;
       Set  @RowsAffected = @@RowCount;         

        COMMIT TRANSACTION;
		Return @RowsAffected;
    END TRY
    BEGIN CATCH
	   if @@TRANCOUNT > 0  
          ROLLBACK TRANSACTION;

        -- إعادة إرسال الخطأ إلى C#
        THROW;
    END CATCH
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "c"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 294
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "i"
            Begin Extent = 
               Top = 9
               Left = 351
               Bottom = 206
               Right = 587
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Invoices_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "People"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 4
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'People_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'People_View'
GO
USE [master]
GO
